# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/providers/
/tools/shares/*
/tools/provisioning/provisioning_*.sh
/tools/fowarded_ports/*
!/tools/shares/default.rb
!/tools/fowarded_ports/default.rb
.vagrant
webserver.box
vm_custom.rb